.button-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.button {
    width: 46px;
    height: 18px;
    background-color: #FFF9F1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    top: 10px; /* Adjust this value to move the button down */
}



.button-text {
    color: #19342F;
    font-size: 10px;
    font-weight: normal;
    font-family: 'Lexend Deca', sans-serif;
}

.name-info {
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 2px;
    text-align: center;
}

.email-info {
    color: #747474;
    font-size: 10px;
    font-weight: light;
    font-family: 'Lexend Deca', sans-serif;
    width: 82px;
    height: 13px;
    text-align: center;
}