@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');

.header {
  background-color: #FFFFFF;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Smaller height for the header */
  width: calc(100% - 151px); /* Adjust width to account for sidebar */
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

.topic {
    color: #19342F;
    font-size: 40px; /* Use 40px font size */
    font-weight: 500; /* Medium weight */
    font-family: 'Lexend Deca', sans-serif; /* Use Lexend Deca font */
    margin-left: 150px;
    height: 24px;
    margin-top: -40px;
   
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav ul .nav-list {
  display: flex;
  align-items: center;
}

.nav ul .nav-list li {
  margin-right: 10px;
}

.nav ul .nav-list li a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.notification-picture {
    width: 22px;
    height: 25px;
    margin-right: 70px;
    margin-bottom: 20px; /* Move the notification picture up */
  }

.profile-picture {
  width: 64px;
  height: 64px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.dropMenu-picture {
    width: 17px;
    height: 10px;
    margin-bottom: 20px; /* Adjust to align vertically with .name-info */
    margin-right: 60px; /* Adjust left margin as needed */
  }
